﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div class="text-center">
    <h2 style="font-family:Georgia;color:rgb(58, 66, 139);">Address Book Application</h2>
</div>

<!-- main app container -->
<!--<div class="jumbotron">
    <div class="container" style="height: 550px;">
        <div class="row">
            <div class="col-sm-6 offset-sm-3" style="align-items: center;">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->

<div class="center">
    <div style="width:45%;"><alert></alert></div>
    <router-outlet></router-outlet>
</div>
