﻿
<div style="width:1200px"> 
    <div style="float: left;"><h1>Hi {{dataJson.user.username}}!</h1> </div>
    <div style="float: right;"> <a (click)="addNewAdd()"><h1>+</h1></a> </div>
</div>

<div *ngIf="address.length > 0; else createFirst">
   <div class="mainTable">
    
    <table class="styled-table">
        <thead class="styled-table_th1">
            <tr>
                <th style="width:5%">#</th>
                <th style="width:10%">Addressee</th>
                <th style="width:10%">Type</th>
                <th style="width:45%">Address</th>
                <th style="width:10%">Mobile</th>
                <th style="width:5%">Longitude</th>
                <th style="width:5%">Latitude</th>
                <th style="width:20%"> Action</th>
            
            </tr>
        </thead>
        <tbody *ngFor="let add of address; index as i">
            <tr>
                <td>{{i+1}}</td>
                <td>{{add.addressee}}</td>
                <td>{{add.addtype}} </td>
                <td>{{add.address}}</td>
                <td>{{add.mobile}}</td>
                <td>{{add.longitude}} </td>
                <td>{{add.latitude}}</td>
                <td> 
                    <a (click)="confrimDelete(add.addressee, add.addid)" class="text-danger">Del</a> &nbsp;&nbsp;&nbsp;
                    <a (click)="showEditWindow(i)" class="text-success">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div> 
  </div>
 
  <ng-template #createFirst>
    <br> <br> <br>
    <div style="width:1200px"> 
        <div style="float: left;"><p>Your addres book is empty.</p> </div>
        <div style="float: right;"> <button #newAddButton  (click)="addNewAdd()">Create new Address</button> </div>
    </div>
  </ng-template>

<br><br>
  <form [formGroup]="addressForm" (ngSubmit)="this[methodName]()">
    <input type="hidden" formControlName="userid" />
    <input type="hidden" formControlName="addid" />

    <div *ngIf="isEditAddNew">
      <div style="width:1200px"> 
            <div style="float: left;"><h3>{{editAddButton}} Address</h3> </div>
            <div style="float: right;"><a (click)="isEditAddNew=false"><h3>X</h3></a> </div>
       </div>
  
    <table class="styled-table">
        <thead [className]="'styled-table_'+ methodName" >
            <tr>
                <th style="width:10%">Addressee</th>
                <th style="width:15%">Type</th>
                <th style="width:30%">Address</th>
                <th style="width:15%">Mobile</th>
                <th style="width:10%">Longitude</th>
                <th style="width:10%">Latitude</th>
                <th style="width:10%"> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
        
                <td   class="form-group"><input type="text" formControlName="addressee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addressee.errors }" /></td>
                <td   class="form-group">
                    <select class="form-control" id="addtype" formControlName="addtype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addtype.errors }">
                        <option value="Residential">Residential</option>
                        <option value="Official">Official</option>
                        <option value="Official">Personal</option>
                    </select> 
                </td>    
                
                <td class="form-group"><textarea formControlName="address" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }" ></textarea></td>
                
                <td class="form-group"><input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.addressee.errors }" /></td>
               
                <td class="form-group"><input type="text" formControlName="longitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }" /></td>
                <td class="form-group"><input type="text" formControlName="latitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }" /></td>
                <td class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{editAddButton}}
                    </button>

                </td>
            </tr>
            <tr>
        
                <td>
                    <div *ngIf="submitted && f.addressee.errors" class="errorMsg">
                      <div *ngIf="f.addressee.errors.required">Addressee is required</div>
                    </div>
                </td>
                <td>
                    <div *ngIf="submitted && f.addtype.errors" class="errorMsg">
                        <div *ngIf="f.addtype.errors.required">Type is required</div>
                    </div>
                </td>
                <td>
                    <div *ngIf="submitted && f.address.errors" class="errorMsg">
                        <div *ngIf="f.address.errors.required">Address: Min of 10 characters</div>
                    </div>
                </td>
                <td>
                    <div *ngIf="submitted && f.mobile.errors" class="errorMsg">
                        <div *ngIf="f.mobile.errors.required">No. is required</div>
                    </div>
                </td>
               
                <td colspan="3">
                    <div *ngIf="results"><h2 style="color:darkgreen"> {{results}}</h2>  
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

 <!---<jw-modal id="custom-modal-1">
    <Button (click)="addNewAddress('Create Address');">Create New</button>
 </jw-modal>-->


</form>