.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}


.styled-table_th1  {
    background-color: #275e08;
    color: #ffffff;
    text-align: left;
}

.styled-table_save  {
    background-color: #0b6b2b;
    color: #ffffff;
    text-align: left;
}

.styled-table_edit  {   
    background-color: #1f9e49;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

tr:hover {  font-weight: bold;
    color: #009879;}


.errorMsg{
    color: #50080c;
} 

.mainTable{
    width:100%;
    height: 350px; 
    overflow-y: auto;
    padding: 10px;
}