<div>
    <h2 mat-dialog-title>This is a Dialog title</h2>

    <mat-dialog-content>

    <p> Place content here </p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>
